//
//  HipChatConfig.swift.sample
//  WoboStaff
//
//  Created by Alessandro on 12/31/15.
//  Copyright © 2015 Alessandro Belardinelli. All rights reserved.
//

import Foundation

struct HipChatConfig {
    static let HipChatApiUrl = "https://api.hipchat.com/v2/user?expand=items&auth_token="
    static let HipChatToken = "YOURTOKEN"
}